<h1>Display your Pirate here</h1>
<p>name: <%= @pirate.name %></p>
<p>weight: <%= @pirate.weight %></p>
<p>height: <%= @pirate.height %></p>

<h2>Display your first ship here</h2>
<p>name: <%= @ships[0].name %></p>
<p>type: <%= @ships[0].type %></p>
<p>type: <%= @ships[0].booty %></p>

<h2>Display your second ship here</h2>
<p>name: <%= @ships[1].name %></p>
<p>type: <%= @ships[1].type %></p>
<p>type: <%= @ships[1].booty %></p>
