<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sinatra Nested Forms</title>
  </head>
  <body>

    <h1>Pirate</h1>
    &nbsp;
    <h5>Name: <%= @pirate.name %></h5>
    <h5>Weight: <%= @pirate.weight %></h5>
    <h5>Height: <%= @pirate.height %></h5>
    &nbsp;
    <% @ships.each_with_index do |ship, index| %>
    <h4>Ship: <%= index+1 %></h4>
    <h5>Name: <%= ship.name %></h5>
    <h5>Type: <%= ship.type %></h5>
    <h5>Booty: <%= ship.booty %></h5>
    <% end %>


  </body>
</html>
